#title {
    width: 25%;
    margin: .5em 0em;
}

body {
    margin-right: 20px;
    margin-left: 20px;
}

.hidden_page {
    display: none;
}

/* start maintaining consistent page height */
.main_div {
    position: relative;
    display: flex;
    /* justify-content: right; */
  }
  .aspect_ratio {
    width: 100%;
    height: auto;
    margin: 1em 0em;
  }
  .main_text {
    position: absolute;
    width: 100%;
    top: 0; left: 0;
    text-align: justify;
    color: #383838;
  }
  /* end maintaining consistent page height */

  .about_photo {
    max-width: 100%;
    max-height: 100%;
    margin: 1em 0em;
    position: absolute;
  }

.background {
    width: 100%;
}

.navigation {
    border: none;
    background-color: inherit;
    color: #383838;
    cursor: pointer;
}

/* .main_div {
    position: relative;
    width: 100%;
    padding-bottom: 45%;
    /* float: left; */
    height: 0;
} */

.links {
    border: none;
    background-color: inherit;
    color: #383838;
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #383838;
    border-bottom: 1px solid #383838;
}

.slideshow {
    width: 100%;
    margin: 1em 0em;
}

footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #383838;
    border-bottom: 1px solid #383838;
}


a:link {
    text-decoration: none;
  }

a:link {
    color: #383838;
  }

a:visited {
    color: #383838;
  }

a:hover {
    color: hotpink;
  }



/* EDITED CODE FROM W3SCHOOLS STARTS HERE */
/* EDITED CODE FROM W3SCHOOLS STARTS HERE */
/* EDITED CODE FROM W3SCHOOLS STARTS HERE */

* {box-sizing:border-box}

/* Slideshow container */
.slideshow_container {
  position: relative;
  /* margin: auto; */
  border: 1px solid #838383;
  margin: 1em 0em;
}

/* Hide the images by default */
.my_slides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* EDITED CODE FROM W3SCHOOLS ENDS HERE */
/* EDITED CODE FROM W3SCHOOLS ENDS HERE */
/* EDITED CODE FROM W3SCHOOLS ENDS HERE */