#title {
    width: 25%;
    margin: .5em 0em;
}

body {
    margin-right: 20px;
    margin-left: 20px;
}

.hidden_page {
    display: none;
}

.main_div {
  width: 100%;
  height: 42vw;
  position: relative;
  overflow: scroll;
  padding: 1em 2em;
}

.projects_main_div {
    width: 100%;
    height: 42vw;
    position: relative;
    overflow: scroll;
    padding: 2em;
    display: flex;
    flex-direction: column;
}

.main_text {
    text-align: justify;
    color: #808080;
    margin: auto;
    line-height: 150%;
    margin-bottom: 2em;
}

.resume_text {
  text-align: justify;
  color: #808080;
  margin: auto;
  line-height: 150%;
  margin-bottom: 4em;
}

@media screen and (min-width: 901px) {
  .project_title {
    margin-bottom: 0.5em;
    /* border-bottom: 1px solid #838383; */
  }

  .project_logo {
    /* /* max-width: 100%; */
    max-height: 100px;
    /* height: 100%; */
    /* width: auto; */
    /* object-fit: scale-down; */
    float: left;
    /* margin: 0em 2em 0em 0em; */
  }

  .project_logo_2 {
    /* /* max-width: 100%; */
    max-height: 100px;
    /* height: 100%; */
    /* width: auto; */
    /* object-fit: scale-down; */
    float: right;
    /* margin: 0em 2em 0em 0em; */
  }

  .project_card {
    display: flex;
    margin-bottom: 6em;
    /* justify-content: center; */
    /* border: solid 1px blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
  }

  .project_card_2 {
    display: flex;
    margin-bottom: 6em;
    /* justify-content: center; */
    /* border: solid 1px blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
  }

  .project_main_text {
    text-align: justify;
    color: #808080;
    margin: auto;
    margin-left: 2em;
    line-height: 150%;
    /* display: inline-block; */
    vertical-align: middle;
  }

  .project_main_text_2 {
    text-align: justify;
    color: #808080;
    margin: auto;
    margin-right: 2em;
    line-height: 150%;
    /* display: inline-block; */
    vertical-align: middle;
  }
}

@media screen and (max-width: 900px) {
  .project_logo {
    width: 40%;
    height: auto;
    /* height: 100%; */
    /* width: auto; */
    /* object-fit: scale-down; */
    /* float: left; */
    margin-bottom: 1em;
  }

  .project_logo_2 {
    width: 40%;
    height: auto;
    /* height: 100%; */
    /* width: auto; */
    /* object-fit: scale-down; */
    /* float: left; */
    margin-bottom: 1em;
  }
  
  .project_card {
    display: flex;
    flex-direction: column;
    margin-bottom: 5em;
    text-align: center;
    /* border: solid 1px blue; */
  }

  .project_card_2 {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 5em;
    text-align: center;
    /* border: solid 1px blue; */
  }
  
  .project_main_text {
    text-align: justify;
    color: #808080;
    margin: auto;
    /* margin-left: 2em; */
    line-height: 150%;
    /* display: inline-block; */
    vertical-align: middle;
  }

  .project_main_text_2 {
    text-align: justify;
    color: #808080;
    margin: auto;
    /* margin-left: 2em; */
    line-height: 150%;
    /* display: inline-block; */
    vertical-align: middle;
  }
}

.about_photo {
    max-width:100%;
    max-height:75%;
    float: right;
    margin: 0em 0em 1em 2em;
}

.background {
    width: 100%;
}

.navigation {
    border: none;
    background-color: inherit;
    color: #383838;
    cursor: pointer;
}

.links {
    border: none;
    background-color: inherit;
    color: #383838;
    cursor: pointer;
    margin-bottom: 1em;
}

nav {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #383838;
    border-bottom: 1px solid #383838;
    margin-bottom: 0.5em;
}

.home {
  display: none;
}

.resume {
  text-align: center;
  margin-bottom: 1em;
}

ul {
  list-style-type: none;
  padding: 0;
}

footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #383838;
    border-bottom: 1px solid #383838;
    margin-top: 0.5em;
}


a:link {
    text-decoration: none;
  }

a:link {
    color: #383838;
  }

a:visited {
    color: #383838;
  }

a:hover {
    color: hotpink;
  }



/* EDITED CODE FROM W3SCHOOLS STARTS HERE */
/* EDITED CODE FROM W3SCHOOLS STARTS HERE */
/* EDITED CODE FROM W3SCHOOLS STARTS HERE */

* {box-sizing:border-box}

/* Slideshow container */
.slideshow_container {
  position: relative;
  /* margin: auto; */
  border: 1px solid #838383;
  margin: 1em 0em;
}

/* Hide the images by default */
.my_slides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 10px 10px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 10px 0 0 10px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* EDITED CODE FROM W3SCHOOLS ENDS HERE */
/* EDITED CODE FROM W3SCHOOLS ENDS HERE */
/* EDITED CODE FROM W3SCHOOLS ENDS HERE */




#modal {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: auto;
  display: none;
}
#modal-textbox {
  background-color: white;
  height: 400px;
  width: 350px;
  margin: 150px auto;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  padding: 2%;
  line-height: 120%;
  font-family: 'Arial';
  border-radius: 0.5em;
}

#openModal {
  margin-bottom: 1em;
}

.modal-buttons {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#bjorn {
  /* object-fit: contain; */
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #838383;
  border-radius: 10em;
}

